.card {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 300px;
    padding: 0.5rem 1rem 1.5rem 1rem;
    border-radius: 15px;
    position: relative;
    transition: .5s;
    background-color: #f7ffff;
    margin-bottom: 1rem;
    box-shadow: #00000026 1.95px 1.95px 2.6px;
}

.card:hover {
    box-shadow: #274f6b40 0px 25px 25px -12px;
}

.card img {
    align-self: center;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 14px;

}
a{
    text-decoration: none;
    color: #3c5163;
}

.info-container {
    display: inline-block;

}


.scroll-container {
    max-width: 900px;
    display: grid;
    align-items: center;
    justify-content: center;

}

.scroll {

    /* height: 75vh; */
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 1rem 2em 1rem 2rem;
}

.section-title {
    max-width: 900px;
    display: flex;
    padding: 1.5rem 2em 0 2rem;
}

.section-title h2 {
    font-size: 2rem;
}

.scroll::-webkit-scrollbar {
    height: 0.6rem;
    background-color: transparent;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #27436600;
}

.scroll-2 {
    margin-top: -0.1rem;
}

@media only screen and (max-width: 900px) {
    .scroll {
        overflow: hidden;
        /* width:100vw ; */
        flex-wrap: nowrap;
        overflow: auto;
        margin: -1rem 0 0 0;
        cursor: grab;
    }

    

    .section-title {
        max-width: 900px;
        display: flex;
        padding: 1rem 2em 0 2rem;
    }

    .card img {
        align-self: center;
        height: 180px;
        width: 235px;
        object-fit: contain;
        

    }
    .card{
        width: 412px;
        gap: 12px;
    }
}