@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* transition: .5s; */
    text-decoration: none;

}

body {
    background: #eefaff;
    min-width: 300px;
}
main{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
h1,h2{
    color:#ff6b22;
}
h1{
    margin-top: 1.5rem;
    color:#ff6b22;
    font-size: 4rem;
}
.hero-content {
    margin-top: 1rem;
    color:#315475;
    font-size: 1.2rem;
}

.hero-content .btn{
    margin-top: 1rem;
    align-self: center;
    padding: 0.9rem;
    border-radius: 50px;
    width: 180px;
    cursor: pointer;
    background-color: #ff742e;
    color: #fff;
    font-size: 1.2rem;
    transition: .3s ease-in-out;
}
.hero-content .btn:hover{
    
    background-color: #fe6d25;
    box-shadow: #ff550086 0px 5px 20px;
    border-radius: 50px;
    width: 150px;
    
}
.hero-content{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hero-container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1604382354936-07c5d9983bd3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
.container{
    width: 87vw;
    background-color: #ffffffe0;
    backdrop-filter: blur(20px);
    border-radius: 25px;
    padding: 0 1.2rem;
}
.hero{
    margin-top: 5rem;
    display: grid;
    place-items: center;
    min-height: 82vh;
   
}
.about{
    margin: 5rem 0;
    display: grid;
    place-items: center;
    padding: 2rem 0;
    
}
.about-container {
    width: 65vw;
    background-color: #ffffffe0;
    backdrop-filter: blur(20px);
    border-radius: 25px;
    padding: 0 1.2rem;
}
.about-container .about-tilte{
    display: block;
    text-align: center;
    padding: 1rem;
}
.about-content{
    display: flex;
    padding: 1.5rem;
}

.about-tilte h2{
    font-size: 2rem;
}
.flex-one{
    flex: 1;
}
.about-content .image-about {
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 0 2rem;
}
.about-content .image-about img{
    border-radius: 12px;
    width: 350px;
    height: 300px;
    object-fit: cover;
}
.info-about{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}


/*  ----------------- Responsive  ------------------- */

@media only screen and (max-width: 900px){
    .hero-content h1{
        margin-top: 1rem;
        font-size: 2.5rem;
    }
    .hero-content {
        margin-top: 1rem;
        color:#315475;
        font-size: 1rem;
    }
    .hero{
        margin-top: 1rem;
        display: grid;
        place-items: center;
        min-height: 65vh;
        width: 90vw;
        background-color: #ffffffd7;
        border-radius: 45px;
    }
    .about-content .image-about img{
        width: 100%;
    }
    .hero-content{
        padding: 0 1rem;
       
    }
    .about-content{
        flex-direction: column;
    }
    .info-about{
        margin-top: 1.2rem;

    }
    .about-content .image-about {
        
        padding: 1rem 0;
    }

    .about-container {
        width: 90vw;
        margin-top: -200px;
        box-shadow: rgba(114, 162, 191, 0.25) 0px 50px 100px -20px, #0000004d 0px 30px 60px -30px;
    }


}
