@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;0,1000;1,200;1,300;1,500;1,800;1,900;1,1000&display=swap');
*,html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Nunito', sans-serif; */
    /* transition: .5s; */
    text-decoration: none;
    
    scroll-behavior: smooth;

}

body {
    background: #eefaff;
    /* min-width: 300px; */
}

main {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

h1,
h2 {
    color: #ff6b22;
}

h1 {
    margin-top: 1.5rem;
    color: #fff;
    font-size: 4rem;
}

.hero-content {
    margin-top: 1rem;
    color: #fff;
    font-size: 1.2rem;
}

.hero-content .btn {
    margin-top: 1rem;
    align-self: center;
    padding: 0.9rem;
    border-radius: 50px;
    width: 180px;
    cursor: pointer;
    background-color: #ff742e;
    color: #fff;
    font-size: 1.2rem;
    transition: .3s ease-in-out;
}

.hero-content .btn:hover {

    background-color: #ff671c;
    box-shadow: #ffa476e7 0px 5px 20px;
    border-radius: 50px;
    width: 150px;

}

.hero-content {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1604382354936-07c5d9983bd3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    width: 100%;
    /* background-color: #00000050; */
    /* backdrop-filter: blur(20px); */
    padding: 0 1.2rem;
}

.hero {
    background-color: #00000074;
    display: grid;
    place-items: center;
    min-height: 100vh;

}

.about {
    width: 100%;
    margin: -150px 0 0 0 ;
    display: grid;
    place-items: center;
    padding: 2.5rem 0;
    background: #eefaff;
    border-radius: 65px 65px 25px  25px;

}

.about-container {
    max-width: 900px;
    margin-top: 2rem;
    width: 65vw;
    background-color: #fffffffc;
    backdrop-filter: blur(20px);
    border-radius: 25px;
    padding: 0 1.2rem;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.about-container .about-tilte {
    display: block;
    text-align: center;
    padding: 1rem;
}

.about-content {
    display: flex;
    padding:  1.5rem 1.5rem 2rem 1.5rem;
}

.about-tilte h2 {
    font-size: 2.2rem;
}

.flex-one {
    flex: 1;
}

.about-content .image-about {
    position: relative;
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    /* padding: 0 2rem; */
}

.about-content .image-about img {
    border-radius: 12px;
    width: 300px;
    transform: rotate(45deg);

}
.img-destop{
    display: block;
}
.img-mobile{
    display: none;
}

.info-about {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

body::-webkit-scrollbar {
    width: 0.6rem;
    background-color: #ff742e;
}

body::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #eefaff;
}

/*  ----------------- Responsive  ------------------- */

@media only screen and (max-width: 900px) {
   
    .hero-container {
        min-height: 100vh;
    }
    .hero-content h1 {
        margin-top: 1rem;
        font-size: 2.5rem;
    }

    .hero-content {
        margin-top: 1rem;
    }

    .hero {
        margin-top: 5rem;
        display: grid;
        place-items: center;
        min-height: 65vh;
        width: 90vw;
        background-color: #00000097;
        border-radius: 45px;
    }
    .about {
        width: 100%;
        margin:0;
        border-radius: 0;
    
    }

    .about-content .image-about img {
        width: 95%;
    }

    .hero-content {
        padding: 0 1rem;

    }

    .about-content {
        flex-direction: column;
    }

    .info-about {
        margin-top: -2rem;

    }

    .about-container {
        padding: 1rem 0;
        width: 100%;
        margin-top: -100px;
        box-shadow: rgba(163, 212, 220, 0.25) 0px 50px 100px -20px, #ccf7ff 0px 30px 60px -30px;
    }
    .about-content .image-about img {
        margin-top: -60px;
        border-radius: 12px;
        transform: rotate(-2deg);
    
    }
    .img-destop{
        display: none;
    }
    .img-mobile{
        display: block;
    }

}